<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/animations.css">
    <link rel="stylesheet" href="/stylesheets/mediaquery.css">
    <title>HOME</title>
</head>
<body>
    
    
        <div class="mainContainer">
            
               
            
            <div class="clear"></div>
        <div class="searchBar">
            <img class="logo" src="/images/logo.png" alt="" srcset="">
            <input class="searchbutton" type="search" name="searchBtn" id="serachMe" placeholder="search for schools">
        </div>
        
    <main>
        <div class="mainContent">
            
            <div class="intro">
                <header>
                    <h1 class="boldHeader">
                        <span class="introTxt1">School</span>
                        <span class="introTxt2">Management</span>
                         
                        <br><span class="introTxt3">just got easier</span>
                    </h1>
                    
                </header>
                
            </div>
        </div>
        i
        <div class="actionBtns">
            <div class="loginContainer">
                <a href="/login">
                    <button class="login" id="loginBtn" type="submit">login</button>
                </a>
                
            </div>
            
        </div>
    </main>
    <main>
        <div class="mainHeader2">
            <h1 class="customersHeader">Our customers</h1>
        </div>
        <div class="customers">
            
            <div class="schools  customer1">
                <div class="schoolInfo">
                    <p class="schoolName">Register today</p>
                    <p class="schoolAddress">your address will appear here</p>
                    <p class="schoolRating"> 
                        <blockquote>This has single handedly revotionalise how we work</blockquote> 
                    </p>
                </div>
               
            </div>
            <div class="schools customer2">
                <div class="schoolInfo ">
                    <p class="schoolName">Register today</p>
                    <p class="schoolAddress">your address will appear here</p>
                    <p class="schoolRating"> 
                        <blockquote>This has single handedly revotionalise how we work</blockquote> 
                    </p>
                </div>
               
            </div>
            <div class="schools customer3">
                <div class="schoolInfo">
                    <p class="schoolName">Register today</p>
                    <p class="schoolAddress">your address will appear here</p>
                    <p class="schoolRating"> 
                        <blockquote>This has single handedly revotionalise how we work</blockquote> 
                    </p>
                </div>
               
            </div>
            <div class="schools customer4">
                <div class="schoolInfo">
                    <p class="schoolName">Register today</p>
                    <p class="schoolAddress">your address will appear here</p>
                    <p class="schoolRating"> 
                        <blockquote>This has single handedly revotionalise how we work</blockquote> 
                    </p>
                </div>
               
            </div>
          
            
            <div class="clear"></div>
        </div>
        <div class="register">
            <p class="registerP">
        <a class="footerRegister" href="/registration">register</a>
            </p>
        </div>
        
        <div class="clear"></div>
    </main>
   
    <div class="aboutUs">
        <h1 class="abouUsHeader">what we do</h1>
        <div class="services">
            
        <p class="serviceItems">Fix your classes</p>
        <p class="serviceItems">Post Results</p>
        
        </div>
        <div class="lastService">
            <p class="serviceItems">Automate Records</p>
        </div>
        <div class="callToAction">
            <p>your school is about to be a web</p>
        </div>
        <hr>
        <div class="builtBy">By CReativeLordsTech<br>ADJARO OGAGA ceo</div>
    </div>
       
            
            
          
    
    

 
</div>
    
    
</body>
</html>