<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School DashBoard</title>
</head>
<body>
    <div class="header"></div>
    <div class="schoolinfo">
        <div class="directorsimg">
            <div class="directorsQuote"></div>
        </div>
        <div class="schooldetails"></div>
        <div class="schoolTechers"></div>
        <div class="classes"></div>
        <div class="subjectstaught"></div>
        <div class="addStudents">
            <div class="formContainer">
                <form action="" method="post">
                    <h1>Enter Students Details</h1>
                    <div class="studentInfo">
                        <label for="studentFirstName">FIRST NAME</label>
                        <input type="text" name="studentFirstName" id="studentFirstName" placeholder="First Name">
                    </div>
                    <div class="studentInfo">
                        <label for="studentMiddleName">Middle NAME</label>
                        <input type="text" name="studentMiddleName" id="studentMiddleName" placeholder="Middle Name">
                    </div>
                    <div class="studentInfo">
                        <label for="studentLastName">LAST NAME</label>
                        <input type="text" name="studentLastName" id="studentLastName" placeholder="Last Name">
                    </div>
                    <div class="studentInfo">
                        <label for="studentAge">Age</label>
                        <input type="number" name="studentAge" id="studentAge" placeholder="Age">
                    </div>
                    <div class="studentInfo">
                        <label for="studentClass">Class</label>
                        <input type="text" name="studentClass" id="studentClass" placeholder="Class">
                    </div>
                   
                </form>
            </div>
            
        </div>
        

    </div>

</body>
</html>