.hide {
    display: none;
}

.introTxt1{
    position:relative;
    top:0%;
    transition: 1s;
    animation: top 1s 1;
}




@keyframes margin {
    from{margin-bottom:- 10%}
    to {margin-bottom:0% }
}

.introTxt2 {
    position:relative;
    right:0%;
    transition:1s ease-in-out;
    animation: right 1s 1;
}
@keyframes right {
    from{rigth: -20%}
    to{
        right:0%
    }
}

.customer1, .customer2, .customer3, .customer4{
    width: 80%;
    transition:1s ease-in-out;
    animation: width 1s 1;
} 
@keyframes width {
    from{ width:50%; 
         opacity:0%
    }
    to {  width:80%;
       opacity: 100%;
    }
}

.customer1:hover{
    transform: rotateY(180deg);
    background-color: chocolate;
    content: "Just the best";
}
.customer2:hover{
    transform: rotateY(180deg);
    background-color: chocolate;
    content: "Just the best";
}
.customer3:hover{
    transform: rotateY(180deg);
    background-color: chocolate;
    content: "Just the best";
}
.customer4:hover{
    transform: rotateY(180deg);
    background-color: chocolate;
    content: "Just the best";
}


