.bodyContainer {
    padding:0;
    width:100%;
    height: auto;
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: linear-gradient(white, blue, black);
    background-blend-mode: luminosity;
    background-image: url(/images/login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
    
}

.appLogo
 {
     font-size: 1.6em;
     font-weight: 800;
     text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     text-shadow: 3px 3px black;
     margin-bottom: -80px;
 }
.formContainer {
    display: block;
    display: flex;
    width:40%;
    height: 40%;
    margin:0 auto;
    align-items: center;
    justify-content: center;
    background:none;
    text-align: center;
    margin-top:10%;
    padding:0;
    border-radius:5px;
}
.labelC {
    color: black;
   
}

.formC {
    display:block;
    width: 80%;
    height:100%;
    margin:0 auto;
    margin-top:0%;
    font-size: x-large;
    background:none;
    color:blue;
}
 .userNameContainer, .passwordContainer {
    padding:none;
    width:100%;
    margin-top:0.2em;
    


}
.passwordC, .userNameC {
    width:80%;
    height:2.5em;
    padding:0.5em;
    border: 1px solid thistle;
    border-radius: 10px;
    box-shadow: 2px 2px white;;
    background: none;
}
 .userNameC:focus {
     
     outline:black;
     border-bottom: 3px solid blue;
     
     
 }
 .passwordC:focus {
     
    outline:black;
    border-bottom: 3px solid blue;
    
    
}
.submit {
    border:none;
    width:30%;
    height:2em;
    margin:0 auto;
    margin-top:0.2em;
    font-weight: 800;
    background-color: thistle;
    box-shadow: 1px 1px white;
    caret-color: blue;
    
}


.Loginfooter{
    display: block;
    width:100%;
    height:auto;
    text-align: center;
    margin:0 auto;
    margin-bottom:0;
    padding:1em;
    box-sizing:border-box ;
}