@media screen and (max-width: 850px) {

    .customers{
        display: grid;
        margin-top:1em;
        width:100%;
        height:11em;
        grid-template-columns:auto auto;
        grid-template-rows: auto;
        grid-area: "";
    }
    .formContainer {
        display: block;
        display: flex;
        width:80%;
        height: 40%;
        margin:0 auto;
        align-items: center;
        justify-content: center;
        background:none;
        text-align: center;
        margin-top:15%;
        padding:2em;
        border-radius:5px;
    }
    #registerHome{
        display:none;
      
    }
    .aboutUs {
        position:relative;
        top:50%;
        width:100%;
        height:30em;
        background-color: rgb(56, 53, 48);
        margin-top:-160px;
    }
}


/* for ver small screens */

@media screen and (max-width: 600px) {

    .customers{
        display: grid;
        margin-top:1em;
        margin-bottom: auto;
        width:100%;
        height:11em;
        grid-template-columns:auto;
        grid-template-rows: auto;
        grid-area: "";
    }

    .intro{
        display:flex;
        align-items: center;
        justify-content:center;
        text-align:center;
        width:80%;
        height:auto;
        font-size:200%;
    }

    .introTxt2{
        font-size:50%;
        font-weight:900;
        
        position:relative;
        bottom:0%;
        transition: 1s ease-in-out;
        animation: bottom 1s 1;
    }
    @keyframes bottom {
        from{bottom:10%}
        to{bottom:0%}
    }

    .login {
        width:20%;
        border:none;
        margin-left:0;
        background: transparent;
        font-size: 100%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 3px solid white;
        color:white;
    }
    .mainContent {
        display:flex;
        align-items: center;
        justify-content: center;
        width:80%;
        margin:0 auto;
        font-size:100%;
        font-weight: 800;
        padding:1em;
        text-align: center;
        
        
    }
   
    

    .aboutUs {
        position:relative;
        top:50%;
        width:100%;
        height:30em;
        background-color: blanchedalmond;
        margin-top:100px;
    }
}



